/*  CSS of Home Rightbar */
.profile{
    display: flex;
}

.profile-right{
    flex:9;
}

.profile-cover{
    height:320px;
    position: relative;
}
.profile-coverImg{
    width:100%;
    height: 250px;
    object-fit: cover;
}

.profile-userImg{
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    right:0;
    left:0;
    margin: auto;
    top:150px;
    border: 3px solid white;
}
.profile-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile-infoName{
    font-size: 2rem;
    font-weight: 500;
}

.profile-infoDesc{
    font-weight: 400;
}

.profile-rightBottom{
    font-size: 15px;
    display: flex;
}

/*  CSS properties for designing the Profile-Rightbar */

.profile-rightbar-title{
    font-size:1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.profile-rightbar-info{
    margin-bottom: 30px;
}

.profile-rightbar-infoItem{
    margin-bottom: 10px;
}
.profile-rightbar-infoKey{
    font-weight: 500;
    margin-right: 15px;
    color:#555
}

.profile-rightbar-infoValue{
    font-weight: 400;
}

.profile-rightbar-followings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-rightbar-following{
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
    cursor: pointer;
}

.profile-rightbar-followingImg{
    width:100px;
    height:100px;
    object-fit: cover;
    border-radius: 5px;
}