.sidebar{
    flex:3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top:50px;
}
::-webkit-scrollbar{
    width:7px;
}
::-webkit-scrollbar-track{
    width:5px;
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    width:5px;
    background-color: rgb(180, 171, 171);
}

.sidebar-wrapper{
    padding: 20px;
}
.sidebar-list{
    padding:0;
    margin:0;
    list-style-type: none;
}
.sidebar-list-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebar-icon{
    margin-right: 15px;
}
.sidebar-button{
    width:150px;
    border:none;
    padding:10px;
    border-radius: 5px;
    font-weight: 500;
}
.sidebar-hr{
    margin: 20px 0;
}
.sidebar-friendlist{
    padding : 0;
    margin :0;
    list-style-type: none;
}
